################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/*/obj
/*/bin
/.vs
/.vs/AQA-Trainings/v17/.suo
