################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/candidate/obj/*
/candidate/bin/*
/.vs/*
/.vs
